/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
}
.first-container{
    background-color: blue;
    display: flex;
    margin-bottom: 50px;
}
.title{ 
    width: 50%;
}
.name{
    color: white;
    height: 230px;
    width: 485px;
    padding: 156px 207px;
    font-size: 64px;
    font-weight: bold;
}
.watch-live{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px 45px;
}
.banner img{
    width: 556px;
    height: 438px;
    padding: 153px 0px;
    
}
.banner img:hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 5s;
}

/* players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}
.player{
    box-shadow: 10px 10px 8px grey;
    margin-bottom: 20px;
    padding: 20px;
}
.player .picture img{
    width: 100%;    
}
.player-description{
    text-align: justify;
}

/* Media query */

@media only screen and (max-width:700px) {
    .first-container{
        width: 100%;

    }
    .title, .banner{
        grid-template-columns: 1fr;
    }
}